<div class="container">
    
<h3>あなたのメモ</h3>
    
    <% @memos.each do |memo| %>
        <table class="table">
            <tr>
                <td><a href="memos/<%=memo.id%>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
                <td><%= memo.what%></td>
                <td><%= memo.when%></td>
                <td><%= memo.when%></td>
            </tr>
        </table>
    <% end %>

</div>
