<footer>
  <div class="text-center text-muted">
    <p>© 2019 warekiseireki-henkan by rika.</p>
    <p>reference → <a href="https://iwb.jp/s/javascript-convert-japanese-calendar-year/">1</a>,
  <a href="https://ja.wikipedia.org/wiki/%E5%85%83%E5%8F%B7%E4%B8%80%E8%A6%A7_(%E6%97%A5%E6%9C%AC)">2</a>
 </p>
  </div>
</footer>